*, :after, :before { box-sizing: border-box; }

body {
    max-width: 1400px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("podklad2glass.jpg");
    
 
}